<div
  class="card-container"
  [ngStyle]="{
    'background-image': 'url(' + hotel.img + ')',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat',
    'box-shadow': 'inset 0px -180px 100px rgba(0,0,0,0.5)'
  }"
>
  <!-- <div class="card-carousel">
    <div class="card-carousel-modul"></div>
  </div> -->
  <div class="card-content">
    <div class="card-content__mainContent">
      <div class="card-content__hotelInfo">
        <h2 class="card-content__title">{{ hotel.title | truncate : 21 }}</h2>
        <div class="card-content__country">{{ hotel.country }}</div>
        <div class="card-content__stars">
          <span *ngFor="let star of getStarsArray(hotel.stars)"
            ><i class="bi bi-star-fill"></i
          ></span>
        </div>
      </div>
      <div class="card-content__priceInfo">
        <div class="card-content__currentPrice">{{ hotel.price }} $</div>
        <p class="card-content__night">for 1 night</p>
        <button class="card-content__selectButton">Learn More</button>
      </div>
    </div>
  </div>
</div>
