<section class="product">
  <div class="product__photo">
    <div class="photo-container">
      <div class="photo-main">
        <img [src]="hotel.img" alt="Hotel Image" />
      </div>
      <div class="photo-album">
        <ul>
          <li>
            <img
              src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png"
              alt="green apple"
            />
          </li>
          <li>
            <img
              src="https://res.cloudinary.com/john-mantas/image/upload/v1537303532/codepen/delicious-apples/half-apple.png"
              alt="half apple"
            />
          </li>
          <li>
            <img
              src="https://res.cloudinary.com/john-mantas/image/upload/v1537303160/codepen/delicious-apples/green-apple-flipped.png"
              alt="green apple"
            />
          </li>
          <li>
            <img
              src="https://res.cloudinary.com/john-mantas/image/upload/v1537303708/codepen/delicious-apples/apple-top.png"
              alt="apple top"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="product__info">
    <div class="title">
      <h1>{{ hotel.title }}</h1>
      <span>{{ hotel.country }}</span>
    </div>
    <div class="price">
      R$ <span>{{ hotel.price }}</span>
    </div>
    <div class="variant">
      <h3>CHOOSE THE NUMBER OF DAYS</h3>
      <ul>
        <li>
          <div>1</div>
        </li>
        <li>
          <div>3</div>
        </li>
        <li>
          <div>5</div>
        </li>
        <li>
          <div>7</div>
        </li>
      </ul>
    </div>
    <div class="description">
      <h3>BENEFITS</h3>
      <p>{{ hotel.describe | truncate : 100 }}</p>
    </div>
    <button class="buy--btn">Learn More</button>
  </div>
</section>
