<section class="search-block">
  <div class="search-block__title">
    <h1>Travel easily</h1>
  </div>
  <!-- <img src="assets/img/BGmain.jpg" /> -->
  <div class="search-panel">
    <div class="search-panel__country">
      <section class="input-wrapper">
        <label class="location-label">Country</label>
        <input
          class="location-input"
          type="text"
          [(ngModel)]="selectedCountry"
          placeholder="Where"
        />
      </section>
      <div class="list-wrapper"></div>
    </div>
    <div class="search-panel__date">
      <section class="price-section">
        <label class="price-label">Price Min</label>
        <input
          type="number"
          [(ngModel)]="priceMin"
          placeholder="From"
          class="price-input"
        />
      </section>
    </div>

    <div class="search-panel__date">
      <section class="price-section">
        <label class="price-label">Price Max</label>
        <input
          type="number"
          [(ngModel)]="priceMax"
          placeholder="To"
          class="price-input"
        />
      </section>
    </div>

    <div class="search-guests-pick">
      <div class="select-guests">
        <button class="select-guests--btn">
          <div class="title">Stars</div>
          <div class="body">4 stars</div>
        </button>
      </div>
      <button class="btn-search-main" (click)="search()">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</section>
