<section class="search-block">
  <div class="search-block__title">
    <h1>Travel easily</h1>
  </div>
  <!-- <img src="assets/img/BGmain.jpg" /> -->
  <div class="search-panel">
    <div class="search-panel__country">
      <section class="input-wrapper">
        <label class="location-label">Country</label>
        <input
          class="location-input"
          type="text"
          [(ngModel)]="selectedCountry"
          placeholder="Where"
        />
      </section>
      <div class="list-wrapper"></div>
    </div>
    <div class="search-panel__date">
      <section class="price-section">
        <label class="price-label">Price Min</label>
        <input
          type="number"
          [(ngModel)]="priceMin"
          placeholder="From"
          class="price-input"
        />
      </section>
    </div>

    <div class="search-panel__date">
      <section class="price-section">
        <label class="price-label">Price Max</label>
        <input
          type="number"
          [(ngModel)]="priceMax"
          placeholder="To"
          class="price-input"
        />
      </section>
    </div>

    <div class="search-guests-pick">
      <div class="select-guests">
        <div class="select-stars">
          <label class="stars-label">Stars</label>
          <div class="stars-checkboxes">
            <label
              class="stars-checkbox"
              *ngFor="let star of [5, 4, 3, 2, 1]; let i = index"
            >
              <input
                type="checkbox"
                [(ngModel)]="selectedStars[i]"
                (click)="updateStars(i)"
              />

              <span class="star-container" [class.filled]="selectedStars[i]">
                <i
                  class="bi"
                  [class.bi-star-fill]="selectedStars[i]"
                  [class.bi-star]="!selectedStars[i]"
                ></i>
                <span class="star-number">{{ i + 1 }}</span>
              </span>
            </label>
          </div>
        </div>
      </div>
      <button class="btn-search-main" (click)="search()">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</section>
