<section class="search-block">
  <div class="search-block__title">
    <h1>Travel easily</h1>
  </div>
  <!-- <img src="assets/img/BGmain.jpg" /> -->
  <div class="search-panel">
    <div class="search-panel__country">
      <div class="input-wrapper">
        <input class="location-input" type="text" placeholder="Where" />
        <label class="location-label"> Country</label>
      </div>
      <div class="list-wrapper"></div>
    </div>
    <div class="search-panel__date">
      <div class="date-in">
        <div class="title">Check In</div>
        <div class="date">When</div>
      </div>
      <div class="date-out">
        <div class="title">Check Out</div>
        <div class="date">When</div>
      </div>
      <div class="data-calendar"></div>
    </div>
    <div class="search-guests-pick">
      <div class="select-guests">
        <button class="select-guests--btn">
          <div class="title">Guest</div>
          <div class="body">
            2 adult,
            <span> without children</span>
          </div>
        </button>
      </div>
      <button class="btn-search-main">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</section>
